// This is scss file of blog section


main#blog-main{
    width: 100%;
    height: max-content;
    #blog{
        width: 100%;
        height: max-content;
        background-color: #0f0d1e;
        padding: 120px 0;
        .column{
            @include flexbox;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .blog-head{
                text-align: center;
                h5{
                    color: #ff9a83;
                    font-family: Rajdhani,sans-serif !important;
                    font-size: 18px;
                    line-height: 1.5;
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    text-transform: uppercase;
                    text-align: center !important;
                }
                h1{
                    color: white;
                    font-family: Inter,sans-serif;
                    font-size: 48px;
                    line-height: 120%;
                    font-weight: 600;
                }
            }
            .blog-wrapper{
                @include flexbox; 
                flex-direction: row;
                height: 200px;
                justify-content: space-evenly;
                .blog-wrapper-left{
                    @include flexbox; 
                    flex-direction: row;
                    width: 100%;
                    a{
                        padding: 15px 20px;
                        text-decoration: none;
                        color: white;
                        border: 1px solid #322b5f;
                        border-radius: 4px;
                        background-color: #322b5f;
                        &:hover{
                            background-color: #211c42;
                        }
                    }
                    .active{
                        background-color: #0f0d1e;
                        border: 1px solid #66e7d8;
                    }
                }
                .blog-wrapper-right{
                    @include flexbox; 
                    flex-direction: row;
                    width: 100%;
                    a{
                        padding: 15px 20px;
                        text-decoration: none;
                        color: white;
                        border: 1px solid #322b5f;
                        border-radius: 4px;
                        background-color: #322b5f;
                        &:hover{
                            background-color: #211c42;
                        }
                    }
                }
               
            }
            .global-card{
                @include flexbox; 
                flex-direction: row;
                flex-wrap: wrap;
                align-content: space-between;
                height: 1200px;
                .global-card-item{
                    @include flexbox; 
                    flex-direction: column;
                    .global-card-up{
                        position: relative;
                        img{
                            width: 500px;
                            height: 250px;
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                        }
                        p{
                            position: absolute;
                            bottom: 5px;
                            left: 15px;
                            border-radius: 5px;
                            padding: 5px;
                            background-color: rgb(98, 98, 201);
                        }
                    }
                    .global-card-down{
                        width: 500px;
                        background-color: #161241;
                        color: whitesmoke;
                        padding: 35px;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 16px;
                            color:  #adaabf;
                        }
                        .glbl-date{
                            @include flexbox; 
                            flex-direction: row;
                            justify-content: left;
                            p{
                                margin-top: 15px;
                                margin-left: 15px;
                                padding: 5px 0;
                            }
                        }
                    }
                }
               
            }
        }
    }
}

@media only screen and (max-width:1460px){
    main#blog-main{
        .blog-wrapper{
            flex-direction: column !important;       
         }
    }
}

@media only screen and (max-width:1333px){
    main#blog-main{
        #blog{
            .column{
                .global-card{
                    flex-direction: column !important;
                    height: 2500px !important;
                    justify-content: space-between;
                    align-items: center;
                  .global-card-item{
                      width: 100%;
                  }
                }
            }
        }
    }
}


@media only screen and (max-width:992px){
    main#blog-main{
        #blog{
            .column{
                .global-card{
                    flex-direction: column !important;
                    height: 2500px !important;
                  justify-content: space-between;
                  align-items: center;
                  .global-card-item{
                      width: 100%;
                  }
                }
            }
        }
    }
}

@media only screen and (max-width:859px){
    main#blog-main{
        #blog{
            .column{
                .blog-wrapper{
                    .blog-wrapper-left{
                        flex-wrap: wrap;
                    }
                    .blog-wrapper-right{
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    main#blog-main{
        #blog{
            .global-card{
              .global-card-item{
                  width: 100% !important;
                  .global-card-up{
                      img{
                          width: 300px !important;
                      }
                  }
                  .global-card-down{
                      width: 300px !important;
                  }
              }
            }
        }
    }
}