// Blog/global-employment-for-remote-teams

main#glbl{
    @include flexbox; 
    flex-direction: column;
    width: 100%;
    height: max-content;
    #gl-empl-header{
        @include flexbox; 
        flex-direction: column;
        width: 100%;
        padding: 150px 0;
        background-color: #0f0d1e;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            .gl-empl-text{
                height: max-content;
                h1{
                    font-family: Inter,sans-serif;
                    color: #fff;
                    font-size: 45px;
                    line-height: 55px;
                    font-weight: 600;
                    transform: translate3d(0px, 20px, 0px) scale3d(1, 1, 1);
                    opacity: 1;
                    transform-style: preserve-3d;
                }
                p{
                    color: #adaabf;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 300;
                }
                a{
                    padding: 15px 25px;
                    color: white;
                    border-radius: 4px;
                    background-color: #5b35d5;
                    text-decoration: none;
                }
                a#gl-empl-cntctus{
                    display: inline;
                    padding: 15px 25px;
                    border-radius: 4px;
                    border: 1px solid white;
                    margin-left: 5px;
                    background-color: #0f0d1e;
                    color: white;
                }
            }
            
        }
       
    }
    #gl-empl-second-header{
        width: 100%;
        height: max-content;
        background-color: #1b1734;
        padding: 150px 0;
        .row{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h5{
                max-width: 200px;
                color: white;
                font-size: 14px;
                line-height: 20px;
                float: left;
                padding: 4px 12px;
                border-radius: 4px;
                background-color: rgba(91,53,213,.2);
                letter-spacing: .6px;
                text-transform: uppercase;
            }
            .why-choose-talent{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between !important;
                align-items: center;
                .why-choose-left{
                    h3{
                        font-family: Inter,sans-serif;
                        color: #fff;
                        font-size: 33px;
                        line-height: 40px;
                        font-weight: 600;
                        opacity: 1;
                        transition-duration: 0.3s;
                        transition-timing-function: ease;
                        transition-delay: 0.1s;
                        transform: translate3d(-20px, 0px, 0px) scale3d(1, 1, 1) rotateX(1deg) rotateY(0deg) rotateZ(0deg) skew(1deg, 0deg);
                        transform-style: preserve-3d;
                    }
                }
                .why-choose-right{
                    p{
                        color: #fff;
                        font-weight: 300;
                        font-family: Inter,sans-serif;
                    }
                }
               
            }
        }
    }
    #feature-section{
        width: 100%;
        height: max-content;
        background-color: #0f0d1e;
        padding: 150px 0;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .ftr-header{
                @include flexbox; 
                flex-direction: column;
                h2{
                    font-size: 30px;
                    line-height: 40px;
                    font-weight: 600;
                    font-family: Inter,sans-serif;
                    color: #fff;
                }
                p{
                    color: #adaabf;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: 300;
                    text-align: center;
                }
            }
            .ftr-btn{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-around;
                .active{
                    background-color: #1b1734;
                    border: 1px solid #66e7d8;
                }
                a{
                    padding: 15px 25px;
                    text-decoration: none;
                    color: white;
                    border-radius: 5px;
                    background-color: #322b5f;
                }
            }
            .ftr-card{
                .ftr-card-item{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-between;
                    border-radius: 16px;
                    background-color: #1b1734;
                    padding:  55px 45px;
                    display: none;
                    .ftr-card-txt{
                        @include flexbox;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        h5{
                            color: #fff;
                            font-size: 22px;
                            line-height: 30px;
                            font-weight: 400;
                        }
                        p{
    
                            color: white;
                            font-size: 18px;
                            line-height: 24px;
                            font-weight: 300;
                        }
                        a{
                            color: white;
                            font-size: 16px;
                            text-decoration: none;
                            border-bottom: 1px solid #fff;
                        }
                    }
                    .ftr-card-img{
                        img{
                            width: 480px;
                            height: 320px;
                            border-radius: 10px;
                        }
                    }
                    &.show-ftr{
                        display: flex;
                    }
                }
               
              
            }
        }
    }
    #benefits{
        width: 100%;
        height: max-content;
        background-color: #1b1734;
        padding: 150px 0;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h5{
                color: white;
                padding: 4px 12px;
                border-radius: 4px;
                background-color: rgba(91,53,213,.2);
                letter-spacing: .6px;
                text-transform: uppercase;
                font-family: Roboto,sans-serif;
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
            }
            .benefits-head{
                h2{
                    font-family: Inter,sans-serif;
                    color: #fff;
                    font-size: 35px;
                    line-height: 50px;
                    font-weight: 600;
                }
            }
            .benefits-list{
                @include flexbox;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                ul{
                    li{
                        font-family: Inter,sans-serif;
                         color: #fff;
                         font-size: 16px;
                         line-height: 150%;
                         list-style: none;
                         padding: 10px;
                         &::before{
                             content: '✓';
                             margin-right: 5px;
                         }
                    }
                }
            }
            a{
                color: white;
                text-decoration: none;
                padding: 15px 25px;
                background-color: #7460ef;
                border-radius: 5px;
            }
        }
    }
    #hr{
        width: 100%;
        height: max-content;
        background-color: #0f0d1e;
        padding: 150px 0;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h4{
                font-size: 30px;
                line-height: 40px;
                font-family: Inter,sans-serif;
                color: #fff;
                font-size: 40px;
                line-height: 50px;
                font-weight: 600;
            }
            .hr-list{
                @include flexbox;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                ul{
                    li{
                        font-family: Inter,sans-serif;
                         color: #fff;
                         font-size: 16px;
                         line-height: 150%;
                         list-style: none;
                         padding: 10px;
                         &::before{
                             content: '✓';
                             margin-right: 5px;
                         }
                    }
                }
            }
            a{
                color:white;
                border: 1px solid white;
                background-color: #0f0d1e;
                padding: 15px 25px;
                text-decoration: none;
                border-radius: 8px;
                &:hover{
                    background-color: #716f8825;
                    transition: 0.2s ease-in;
                }
            }
            .hr-card{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 48px;
                border-radius: 16px;
                background-color: #5b35d5;
                h5{
                    border: 1px solid #f7f5fd;
                    background-color: transparent;
                    color: #f7f5fd;
                    letter-spacing: .6px;
                    text-transform: uppercase;
                    padding: 4px 12px;
                    border-radius: 4px;

                }
                h2{
                    font-size: 30px;
                    line-height: 40px;
                    font-family: Inter,sans-serif;
                    color: #fff;
                    font-weight: 600;
                }
                a{
                    color: white;
                    border-radius: 5px;
                    background-color: #0f0d1e;
                    padding: 17px 40px;
                    border: none;
                    transition: .3s cubic-bezier(.25, .46, .45, .94);
                    color: #fff;
                    font-size: 16px;
                    &:hover{
                        background-color: #38335c; 
                    }
                }
            }
        }
    }
    #form-contact-us{
        width: 100%;
        height: max-content;
        padding: 150px 0;
        background-color: #0f0d1e;

        .row{
            @include flexbox; 
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .form-text{
                h2{
                    font-size: 30px;
                    line-height: 40px;
                    color: white;
                    font-family: Inter,sans-serif;
                    font-weight: 600;
                }
                a{
                    text-decoration: none;
                    color: white;
                    background-color: #5b35d5;
                    transition: .3s cubic-bezier(.25, .46, .45, .94);
                    color: #fff;
                    font-size: 16px;
                    padding: 16px 32px;
                    border-radius: 5px;
                    &:hover{
                        background-color: #7460ef;
                    }
                }
            }
            .form-right{
                @include flexbox;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                background-color: white;
                border-radius: 15px;
                padding: 35px 45px;
                form{
                    width: 100%;
                    input{
                        width: 100%;
                        padding: 15px;
                        border-radius: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.137);
                    }
                    textarea{
                        width: 100%;
                        border-radius: 5px;
                        border: 1px solid rgba(0, 0, 0, 0.137);
                    }
                    input[type = "submit"]{
                        background-color: #5b35d5;
                        color: white;
                        &:hover{
                            background-color: #7460ef;
                        }
                    }
                    #check-label{
                        width: 100%;
                        @include flexbox; 
                        flex-direction: row;
                        justify-content: space-around;
                        input[type="checkbox"]{
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
    #help-decide{
        width: 100%;
        background-color: #1b1734;
        padding: 150px 0;
        .row{
            @include flexbox; 
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            .help-decide-head{
               
                h1{
                    font-family: Inter,sans-serif;
                    color: #fff;
                    font-weight: 600;
                    font-size: 30px;
                     line-height: 40px;
                }
            }
            .help-decide-quest{
                @include flexbox; 
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .quest{
                    cursor: pointer;
                    padding: 15px;
                   
                    h4{
                        color: #fff;
                        font-size: 22px;
                        line-height: 30px;
                        font-weight: 400;
                        text-align: right;
                    }
                    .questopen{
                        transition: all 0.5s linear;
                         transform: rotate(90deg);
                    }
                }
                
                .quest-text{
                    height: 0;
                    overflow: hidden;
                    transition: height 0.5s ease;
                    p{
                        max-width: 80%;
                        font-family: Inter,sans-serif;
                        color: #adaabf;
                        font-size: 18px;
                        line-height: 24px;
                        font-weight: 300;
                    }
                    form{
                        background-color: white;
                        width: 85%;
                        padding: 25px;
                        border-radius: 10px;
                        h4{
                            text-align: center;
                            font-size: 22px;
                            line-height: 30px;
                            font-weight: 400;
                            color: #0f0d1e;
                        }
                        input{
                            width: 100%;
                            padding: 10px;
                            border-radius: 5px;
                            border: 1px solid rgba(0, 0, 0, 0.103);
                        }
                        input[type="submit"]{
                            padding: 15px 25px;
                            background-color: #5b35d5;
                           color: white;
                        }
                        #check-label{
                            width: 100%;
                            @include flexbox; 
                            flex-direction: row;
                            justify-content: space-around;
                            input[type="checkbox"]{
                                width: 50px;
                            }
                        }
                    }
                   
                }
                .active{
                    height: max-content;
                   
                }
            }
        }
    }
    #cards-love{
        background-color: #5b35d5;
        width: 100%;
        height: max-content;
        padding: 100px 0;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: center;
            .cards-love-txt{
                text-align: center;
                h2{
                    color: whitesmoke;
                }
            }
            .cards-love-workers{
                @include flexbox; 
                justify-content: center;
                align-content: center;
                padding: -1px 50px;
                .workers-img{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around !important;
                    align-items: center;
                    .worker{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around;
                    cursor: pointer;
                    padding: 15px;
                    background-color: transparent;
                    opacity: .64;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                    .worker-name{
                        color: whitesmoke;
                        p{
                            font-size: 15px;
                        }
                    }
                    &.active{
                        opacity: 1;
                        border-bottom: 2px solid #ff9a83;
                    }
                    }
                   
                }
            }
            .workers-comments{
                @include flexbox; 
                flex-direction: column;
                justify-content: center;
                align-content: center;
                background-color: whitesmoke;
                border-radius: 15px;
                padding: 80px 25px;
                .workers-comments-item{
                    max-width: 65%;
                    font-size: 24px;
                    line-height: 170%;
                    font-weight: 350;
                    text-align: center;
                    display: none;
                }
                .active{
                   display: block;
                }
                p{
                    color: #5b35d5;
                    font-size: 20px;
                }
            }
        }
    }
}


@media only screen and (max-width:1200px){
    main#glbl{
        #feature-section{
         .ftr-btn{
             .ftr-click{
                padding: 15px 12px !important;
             }
         }
         .ftr-card{
             .ftr-card-item{
                 .ftr-card-img{
                     img{
                         width: 300px !important;
                     }
                 }
             }
         }
        }
    }
}

@media only screen and (max-width:992px){
    main#glbl{
        #gl-empl-header{
            .column{
                .gl-empl-text{
                    width: 100%;
                }
            }
        }
        #feature-section{
            .ftr-header{
                width: 100%;
            }
            .ftr-btn{
                flex-wrap: nowrap;
                .ftr-click{
                   padding: 10px 15px !important;
                }
            }
            .ftr-card{
                
                .ftr-card-item{
                    flex-direction: column !important;
                    .ftr-card-txt{
                        width: 100%;
                    }
                    .ftr-card-img{
                        width: 100%;
                        margin-top: 15px;
                        margin-left: 85px;
                        img{
                            width: 500px !important;
                        }
                    }
                }
            }
           }
           #cards-love{
               
            .cards-love-workers{
                .workers-img{
                    .worker{
                        flex-direction: column !important;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px){
    main#glbl{
     #gl-empl-second-header{
         padding: 100px 0 !important;
       .row{
           .why-choose-talent{
               flex-direction: column !important;
               .why-choose-left{
                   width: 100% !important;
               }
               .why-choose-right{
                width: 100% !important;
            }
           }
       }
     }
     #feature-section{
        .ftr-header{
            width: 100%;
        }
        .ftr-btn{
            flex-wrap: nowrap;
            .ftr-click{
                text-align: center;
               padding: 2px  !important;
              
                   margin-right: 3px;
               
            }
        }
        .ftr-card{
            
            .ftr-card-item{
                flex-direction: column !important;
                .ftr-card-txt{
                    width: 100%;
                }
                .ftr-card-img{
                    width: 100%;
                    margin-top: 18px;
                    margin-left: 50px;
                    img{
                        width: 400px !important;
                    }
                }
            }
        }
       }
       #benefits{
           .column{
               .benefits-list{
                   width: 100%;
                   flex-direction: column !important;
                   .benefits-list-left{
                       width: 100%;
                   }
                   .benefits-list-right{
                       width: 100%;
                   }
               }
           }
       }
       #hr{
           .column{
               .hr-list{
                   width: 100%;
                   flex-direction: column !important;
                   .hr-list-left{
                       width: 100%;
                   }
                   .hr-list-right{
                       width: 100%;
                   }
               }
           }
       }
       #form-contact-us{
           .row{
               flex-direction: column !important;
               .form-text{
                   width: 100%;
               }
               .form-right{
                   margin-top: 45px;
                   width: 90%;
               }
           }
       }
       #help-decide{
           .row{
               flex-direction: column !important;
               align-items: flex-start !important;
               .help-decide-head{
                   width: 100%;
               }
               .help-decide-quest{
                   width: 100%;
                   .quest{
                       width: 100%;
                       h4{
                           text-align: left;
                       }
                   }
               }
           }
       }
    }
}

@media only screen and  (max-width:600px){
  main#glbl{
      #gl-empl-second-header{
         .row{
             .why-choose-talent{
                .why-choose-left{
                    h3{
                        width: 100%;
                        font-size: 24px !important;
                        line-height: 36px;
                    }
                 }
             }
            
         }
      }
  }
}

@media only screen and (max-width:500px){
    main#glbl{
        #feature-section{
            .ftr-card{
                .ftr-card-item{
                    .ftr-card-img{
                        img{
                            width: 300px !important;
                        }
                    }
                }
            }
            
        }
        #form-contact-us{
            .form-right{
                width: 80% !important;
            }
        }
    }
}