// Global payroll scss file


main#glbl-payroll{
  width: 100%;
  height: max-content;
  #glbl-payroll-header{
    width: 100%;
    height: max-content;
    background-color: #0f0d1e;
    padding: 150px;
    .row{
      @include flexbox; 
      flex-direction: row;
      justify-content: space-between !important;
      .payroll-header-left{
        h1{
          font-family: Inter,sans-serif;
          color: #fff;
          line-height: 120%;
          font-weight: 600;
        }
        a{
           text-decoration: none;
           color: white;
           padding: 16px 32px;
           border-radius: 5px;
           background-color: #5b35d5;
           font-size: 17px;
           line-height: 150%;
           font-weight: 400;
           text-align: center;
        }
      }
      .payroll-header-right{
        img{
          width: 600px;
          height: 450px;
        }
      }
    }
  }
  #glbl-payroll-cards{
    width: 100%;
    height: max-content;
    background-color: #1b1734;
    padding: 150px 0;
    .row{
      @include flexbox; 
      flex-direction: row;
      justify-content: space-between;
       .payroll-cards{
        background-color: #0f0d1e;
        border-radius: 10px;
        padding: 40px;
        margin-top: 25px;
        margin-left: 15px;
        height: 330px;
       img{
         width: 45px;
         height: 45px;
       }
       h4{
         color: white;
         font-family: Inter,sans-serif;
         font-size: 24px;
         line-height: 150%;
         font-weight: 500
       }
       p{
        color: #adaabf;
        font-size: 20px;
       }
       }
     
    }
  }
  #glbl-payroll-book{
    width: 100%;
    height: max-content;
    background-color: #0f0d1e;
    padding: 150px;
    .column{
      @include flexbox; 
      flex-direction: column;
      justify-content: space-between;
      h2{
        font-family: Inter,sans-serif;
        color: white;
      }
      a{
        color: white;
        border-radius: 4px;
        background-color: #5b35d5;
        font-size: 17px;
        line-height: 150%;
        font-weight: 400;
        padding: 16px 32px;
        text-decoration: none;
      }
    }
  }
  #glbl-payroll-questions{
    background-color: #1b1734;
    width: 100%;
    height: max-content;
    padding: 150px;
    .row{
      @include flexbox; 
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .payroll-faq-left{
        h1{
          color: white;
          font-family: Inter,sans-serif;
        }
      }
      .payroll-faq-right{
        .faq-question{
          cursor: pointer;
        
          h5{
            margin-top: 8px;
            padding-right: 24px;
            color: #fff;
            font-size: 20px;
            line-height: 150%;
            font-weight: 400;
          }
        }
        .faq-answers{
          display: none;
          p{
            max-width: 80%;
            font-family: Inter,sans-serif;
            color: #adaabf;
            font-size: 18px;
             line-height: 24px;
            font-weight: 300;
          }
        }
        .active{
          display: block;
        }
      }
        p{
          color: #adaabf;
          font-size: 20px;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  #glbl-payroll-build{
    width: 100%;
    height: max-content;
    background-color: #0f0d1e;
    padding: 150px 0;
    .column{
        @include flexbox; 
        flex-direction: column;
        justify-content: space-between;
        .payroll-build-first{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            h1{
                color: white;
                line-height: 140%;
                font-weight: 600;
                font-family: Inter,sans-serif;
                font-size: 33px;
            }
            .built-first-play{
                @include flexbox; 
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                p{
                    color: #fff;
                    font-size: 18px;
                    font-weight: 300;
                    padding-top: 10px;
                }
                img{
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                }
                
                .link-watch-video{
                  text-align: center;
                  margin: 0 auto;
                  background-color: rgba(134,125,243,.88);
                  border-radius: 50%;
                  a{
                      img#play-video{
                          position: absolute;
                          top: 22px;
                          left: 22px;
                          width: 50px !important;
                          height: 50px !important;
                          display: inline-block;
                          border: 1px transparent;
                          border-radius: 16px;
                      }
                  }
                  
                  
              }
              .video-container{
                  position: fixed;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 99999;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  opacity: 0;
                  pointer-events: none;
                  transition: all 0.5s;
                  .close{
                      position: absolute;
                      top: 10%;
                      right: 25px;
                      font-size: 25px;
                      cursor: pointer;
                      font-size: 25px;
                      cursor: pointer;
                  }
                  video{
                      width: 90%;
                      max-width: 800px;
                      transform: scale(0);
                      box-shadow: 0 20px 20px rgba(0, 0,0,0.2);
                      outline: none;
                      transition: all 0.5s;
                  }
              }
              .show{
                  pointer-events: all;
                  opacity: 1;
              }
              .show video{
                  transform: scale(1);
              }
            }
        }
        .payroll-build-second{
            @include flexbox; 
            flex-direction: row;
            justify-content: space-between !important;
            .build-second-cards{
                &>img{
                    width: 45px;
                    height: 45px;
                }
                h5{
                    font-family: Inter,sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    color: white;
                }
                p{
                    color: #adaabf;
                }
                a{
                    color: #867df3;
                    font-size: 16px;
                    line-height: 150%;
                    font-weight: 400;
                    text-decoration: none;
                }
                img#build-cards-icon{
                  width: 15px !important;
                  height: 15px !important;
                }
            }
        }
    }
}


@media only screen and (max-width: 1200px){
   main#glbl-payroll{
     #glbl-payroll-header{
       .row{
         flex-direction: column !important;
         .payroll-header-left{
           width: 100%;
         }
         .payroll-header-right{
           width: 100%;
           img{
             width: 500px;
           }
         }
       }
     }
    
   }
}

@media only screen and (max-width: 992px){
  main#glbl-payroll{
    
    #glbl-payroll-questions{
      padding: 60px 0 ;
      .row{
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .payroll-faq-left{
          width: 100%;
        }
        .payroll-faq-right{
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width:700px){
    main#glbl-payroll{
      #glbl-payroll-header{
        .row{
          flex-direction: column !important;
          .payroll-header-left{
            width: 100%;
          }
          .payroll-header-right{
            width: 100%;
            img{
              width: 400px;
              height: 300px;
            }
          }
        }
      }
      #glbl-payroll-build{
        padding: 100px 0  ;
        .column{
          width: 100%;
          .payroll-build-first{
            width: 100%;
          }
          .payroll-build-second{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .build-second-cards{
              width: 100%;
            }
          }
        }
      }
    }
}

@media only screen and (max-width:500px){
  main#glbl-payroll{
    #glbl-payroll-header{
      padding: 250px 0;
      .row{
        flex-direction: column !important;
        .payroll-header-left{
          width: 100%;
          h1{
            width: 100%;
          }
          a{
            width: 100%;
          }
        }
        .payroll-header-right{
          width: 100%;
          img{
            width: 300px;
          }
        }
      }
    }
    #glbl-payroll-cards{
      padding: 50px 5px;
      .row{
        width: 100%;
        .payroll-cards{
          width: 100%;
          height: max-content;
        }
      }
    }

    #glbl-payroll-book{
      padding: 80px 0;
      .column{
        h2{
          text-align: center;
          width: 100%;
        }
      }
    }
  }
}
