//This is Homepages scss file 


main{
    @include flexbox;
    flex-direction: column;
    width: 100%;
    height: max-content;
    // First section 
    #payroll{
        width: 100%;
        height: max-content;
        background-color: #0f0d1e;
        padding-top: 25px;
        .row{
            @include flexbox; 
            flex-direction: row;
            justify-content: space-between;
            padding: 100px 0 ;
            .payroll-text{
                width: 50%;
                .payroll-first-text{
                    h1{
                        letter-spacing: 1px;
                        color: white;
                    }
                    p{
                        padding: 15px 0;
                        color: #adaabf;
                    }
                    a{
                        color: white;
                        text-decoration: none;
                        padding: 15px 25px;
                        border-radius: 5%;
                        background-color: #5b35d5;
                    }
                }
                .payroll-second-text{
                    padding: 90px 0;
                    i{
                        color: whitesmoke;
                    }
                    img{
                        width: 80px;
                        height: 50px;
                        margin-right: 10px;
                    }
                }
            }
            .payroll-logo-image {
                width: 50%;
                position: relative;
                img#payroll-image{
                    width: 700px;
                }
                .link-watch-video{
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    left: 300px;
                    top: 220px;
                    text-align: center;
                    cursor: pointer;
                    margin: 0 auto;
                    background-color: rgba(134,125,243,.88);
                    border-radius: 50%;
                    a{
                        img#play-video{
                            position: absolute;
                            top: 22px;
                            left: 22px;
                            width: 50px !important;
                            height: 50px !important;
                            display: inline-block;
                            border: 1px transparent;
                            border-radius: 16px;
                        }
                    }
                    
                    
                }
                .video-container{
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 99999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.5s;
                    .close{
                        position: absolute;
                        top: 10%;
                        right: 25px;
                        font-size: 25px;
                        cursor: pointer;
                        font-size: 25px;
                        cursor: pointer;
                    }
                    video{
                        width: 90%;
                        max-width: 800px;
                        transform: scale(0);
                        box-shadow: 0 20px 20px rgba(0, 0,0,0.2);
                        outline: none;
                        transition: all 0.5s;
                    }
                }
                .show{
                    pointer-events: all;
                    opacity: 1;
                }
                .show video{
                    transform: scale(1);
                }
            }
            
        }
    }
    #call-to-action{    
        width: 100%;
        height: max-content;
        background-color: #1b1734;
        padding: 50px 0 !important;
        .row{
            @include flexbox; 
            flex-direction: column;
            .call-text{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between;
                padding: 70px;
                h2{
                    color: white;
                }
                p{
                    color: white;
                }
            }
            .call-platform{
                @include flexbox; 
                flex-direction: row ;
                height: min-content;
                justify-content: space-between;
                background-color: #5b35d5;
                border-radius: 25px;
                padding: 20px 70px;
                .call-platform-text{
                    h1{
                        color: white;
                    }
                    p{
                        color: white;
                    }
                }
                .call-platform-image{
                    
                    img{
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
    #feature-section{
        background-color: #0f0d1e;
        width: 100%;
        height: max-content;
        padding: 80px;
        .column{
            @include flexbox;
            flex-direction: column;
            justify-content: flex-start ;
            align-items: center ;
            .main-feature{
                @include flexbox; 
                flex-direction: row ;
                justify-content: space-between ;
                background-image: url(https://assets-global.website-files.com/5fe9c5e…/6012e83…_pattern-logo.png),linear-gradient(
                    100deg
                    ,#1b1734,#0f0d1e);
                    padding: 150px 100px;
                    border-radius: 25px;
                .main-feature-text{
                    #ftr-h-txt{
                        font-family: Rajdhani,sans-serif;
                        color: #ff9a83;
                        font-size: 18px;
                        line-height: 1.5;
                        font-weight: 500;
                    }
                    #ftr-h-txt-2{
                        font-family: Rajdhani,sans-serif;
                        color: #00d8be;
                        font-size: 18px;
                        line-height: 1.5;
                        font-weight: 500;
                    }
                    h2{
                        font-family: Inter,sans-serif;
                        font-size: 40px;
                        line-height: 140%;
                        font-weight: 600;
                        text-align: left;
                        color: white;
                    }
                    p{
                        color: whitesmoke;
                    }
                    a{
                        border: 1px solid whitesmoke;
                        border-radius: 5px;
                        padding: 15px 25px;
                        color: whitesmoke;
                        text-decoration: none;
                        &:hover{
                            background-color: rgba(191, 189, 209, 0.116);
                        }
                    }
                }
                .main-feature-image{
                    img{
                        width: 500px;
                        height: 400px;
                        border-radius: 10%;
                    }
                }
            }
        }
    }
    #cards-section{
        background-color: #1b1734;
        width: 100%;
        height: max-content;
        padding: 50px;
        .column{
            @include flexbox; 
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            .cards-heading{
              h2{
                  color: whitesmoke;
                  text-align: center;
              }
              
            }
            .cards{
                @include flexbox; 
                flex-wrap: wrap !important;
                justify-content: space-between !important;
                .cards-list{
                    color: whitesmoke;
                    padding: 40px;
                    h4{
                        margin-top: 24px;
                        margin-bottom: 0;
                        font-family: Inter,sans-serif;
                        color: #fff;
                        font-size: 20px;
                        line-height: 150%;
                        font-weight: 500;
                    }
                    p{
                        max-width: 80%;
                        min-height: auto;
                        min-width: auto;
                        margin-top: 10px;
                        color: #adaabf;
                        font-size: 20px;
                    }
                }
            }
            .cards-btn{
                text-align: center;
                a{
                    text-align: center;
                    border-radius: 4px;
                    color: whitesmoke;
                    padding: 15px 25px;
                    background-color: #6d4ed3;
                    font-size: 17px;
                    line-height: 150%;
                    font-weight: 400;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
    #cards-love{
        background-color: #5b35d5;
        width: 100%;
        height: max-content;
        padding: 50px 0;
        overflow-x: hidden;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: center;
            .cards-love-txt{
                text-align: center;
                h2{
                    color: whitesmoke;
                }
            }
            .cards-love-workers{
                @include flexbox; 
                justify-content: center;
                align-content: center;
                padding: -1px 50px;
                .workers-img{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around !important;
                    align-items: center;
                    .worker{
                    @include flexbox; 
                    flex-direction: row;
                    justify-content: space-around;
                    cursor: pointer;
                    padding: 15px;
                    background-color: transparent;
                    opacity: .64;
                    img{
                        width: 70px;
                        height: 70px;
                    }
                    .worker-name{
                        color: whitesmoke;
                        p{
                            font-size: 15px;
                        }
                    }
                    &.active{
                        opacity: 1;
                        border-bottom: 2px solid #ff9a83;
                    }
                    }
                   
                }
            }
            .workers-comments{
                @include flexbox; 
                flex-direction: column;
                justify-content: center;
                align-content: center;
                background-color: whitesmoke;
                border-radius: 15px;
                padding: 80px 25px;
                .workers-comments-item{
                    max-width: 65%;
                    font-size: 24px;
                    line-height: 170%;
                    font-weight: 350;
                    text-align: center;
                    display: none;
                }
                .active{
                   display: block;
                }
                p{
                    color: #5b35d5;
                    font-size: 20px;
                }
            }
        }
    }
    #home-book{
        background-color: #0f0d1e;
        width: 100%;
        height: max-content;
        padding: 50px 0;
        .column{
            @include flexbox; 
            flex-direction: column;
            .action-head{
                font-size: 40px;
                color: whitesmoke;
                font-weight: 500;
                text-align: center;
                max-width: 80%;
            }
           a{
            border-radius: 4px;
            background-color: #5b35d5;
            padding: 20px 20px;
            text-decoration: none;
            color: whitesmoke;
           }
        }
    }
    #global-section{
        background-color: #1b1734;
        padding: 50px;
        width: 100%;
        .column{
            @include flexbox; 
            flex-direction: column;
            justify-content: space-around !important;
            h3{
                color: white;
            }
            .global-card{
                @include flexbox; 
                flex-direction: row;
                justify-content: space-between !important;
                padding: 35px 0;
                .global-card-item{
                    @include flexbox; 
                    flex-direction: column;
                  &:nth-child(2){
                      margin-left: 35px;
                  }
                  &:nth-child(3){
                    margin-left: 35px;
                }
                    .global-card-up{
                        position: relative;
                        img{
                            width: 400px;
                            height: 250px;
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                        }
                        p{
                            position: absolute;
                            bottom: 5px;
                            left: 15px;
                            border-radius: 5px;
                            padding: 5px;
                            background-color: rgb(98, 98, 201);
                        }
                    }
                    .global-card-down{
                        width: 400px;
                        background-color: #0f0d1e;
                        color: whitesmoke;
                        padding: 35px;
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 16px;
                            color:  #adaabf;
                        }
                        .glbl-date{
                            @include flexbox; 
                            flex-direction: row;
                            justify-content: left;
                            p{
                                margin-top: 15px;
                                margin-left: 15px;
                                padding: 5px 0;
                            }
                        }
                    }
                }
               
            }

            a{
                border-radius: 4px;
                background-color: #5b35d5;
                font-size: 17px;
                line-height: 150%;
                font-weight: 400;
                padding: 15px 30px;
                color: whitesmoke;
                text-decoration: none;
            }
        }
    }
}


@media only screen and (max-width:1400px){
    main{
        #payroll{
            .row{
                .payroll-logo-image{    
                 img#payroll-image{
                     width: 490px;
                 }
                }
            }
        }
        #feature-section{
            .column{
                .main-feature{
                    flex-direction: column;
                    .main-feature-image{
                        margin-top: 25px;
                    }
                }
            }
        }
        #global-section{
            .column{
                .global-card{
                    flex-direction: column;
                    .global-card-item{
                        width: 80%;
                        margin-top: 25px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:992px){
   main{
       #payroll{
           .row{
            flex-direction: column !important;
            align-items: center;
            width: 100% !important;
               .payroll-text{
                   width: 100% !important;
                   h1{
                    font-size: 42px;
                   }
                   p{
                    font-size: 18px !important;
                    font-weight: 300 !important;
                    color: #adaabf;
                    font-family: Inter,sans-serif;
                   }
               }
               .payroll-logo-image{
                   width: 100% !important;
                img#payroll-image{
                    width: 600px;
                }
               }
           }
       }
       #call-to-action{
           .call-text{
                h2{
                    font-size: 34px;
                    line-height: 140%;
                    font-weight: 600;
                    font-family: Inter,sans-serif;
                }
                p{
                    font-family: Inter,sans-serif;
                    line-height: 150%;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 300;
                }
           }
           
        .call-platform{
            justify-content: center !important;
            flex-direction: column !important;
            .call-platform-text{
                width: 100% !important;
                h2{
                    font-size: 32px;
                    line-height: 140%;
                }
            }
            img{
                width: 300px !important;
                height: 300px !important;
            }
        }
     }
       #feature-section{
        .main-feature{
            flex-direction: column !important;
            justify-content: center;
            align-items: center !important;
            .main-feature-text{
                a{
                    padding: 10px !important;
                    svg{
                        width: 20px !important;
                        height: 20px !important;
                    }
                }
            }
            .main-feature-image{
                margin-top: 80px;
                img{
                 width: 400px !important;
                 height: 300px !important;
                }
                
            }
        }
    }
    #cards-love{
        .cards-love-workers{
            .workers-img{
                .worker{
                    flex-direction: column !important;
                }
            }
        }
    }
   }
}

@media only screen and (max-width:768px){
    main{
        #payroll{
            .row{
             flex-direction: column !important;
             align-items: center;
             width: 100% !important;
                .payroll-text{
                    width: 100% !important;
                    h1{
                     font-size: 42px;
                    }
                    p{
                     font-size: 18px !important;
                     font-weight: 300 !important;
                     color: #adaabf;
                     font-family: Inter,sans-serif;
                    }
                }
                .payroll-logo-image{
                    width: 100% !important;
                 img#payroll-image{
                     width: 500px;
                 }
                }
            }
        }
        #global-section{
            .column{
                .global-card{
                    .global-card-item{
                        margin-left: 0 !important;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:600px){
   main{
       #call-to-action{
            .row{
                .call-platform{
                    width: 80%;
                    align-items: center;
                }
            }
       }
       #feature-section{
           padding: 25px 5px;
            .column{
                .main-feature{
                   width: 100%;
                   padding: 25px 35px;
                   .main-feature-image{
                       padding-top: 15px;
                       img{
                           width: 320px !important;
                       }
                   }
                }
            }
       }
       #cards-section{
           .column{
               .cards-heading{  
                width: 100%;
                   h2{
                       font-size: 50px;
                       text-align: left;
                   }
               }
               .cards{
                   flex-direction: column;
                   .cards-list{
                       width: 100%;
                       h4{
                        font-family: Inter,sans-serif;
                        color: #fff;
                        font-size: 30px;
                        line-height: 150%;
                        font-weight: 500;
                        text-align: left;
                       }
                       p{
                        color: #adaabf;
                        font-size: 30px;
                       }
                   }
               }
           }
       }
       #global-section{
           .column{
               .global-card{
                   .global-card-item{
                       margin-left: 0 !important;
                   }
               }
           }
       }
   }
}

@media only screen and (max-width:500px){
    main{
        #payroll{
            .row{
                .payroll-logo-image{
                    width: 100% !important;
                 img#payroll-image{
                     width: 350px;
                 }
                 .link-watch-video{
                    left: 110px !important;
                    top: 90px !important;
                }
                }
            }
        }
        #global-section{
            .column{
                .global-card{
                    .global-card-item{
                        margin-left: 0 !important;
                    }
                }
            }
        }
        #call-to-action{
            .row{
                .call-text{
                    flex-direction: column;
                    width: 100%;
                    h2{
                        width: 100%;
                    }
                    p{
                        width: 100%;
                    }
                }
                .call-platform-image{
                    width: 100%;
                    img{    
                        width: 200px !important;
                        height: 150px ;
                        margin-right: 25px;
                    }
                }
            }
        }
        #cars-section{
            .column{
                .cards{
                    .cards-list{
                        width: 100%;
                        h4{
                            width: 100% !important;
                        }
                        p{
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:400px){
    main{
        #payroll{
            .row{
                .payroll-logo-image{
                    width: 100% !important;
                 img#payroll-image{
                     width: 300px;
                 }
                 .link-watch-video{
                     left: 110px !important;
                     top: 90px !important;
                 }
                }
            }
        }
        #global-section{
            .column{
                .global-card{
                    .global-card-item{
                        margin-left: 0 !important;
                        .global-card-up{
                            img{
                                width: 300px;
                            }
                        }
                        .global-card-down{
                            width: 350px;
                        }
                    }
                }
            }
        }
        #call-to-action{
            .row{
                .call-platform-text{
                    width: 100%;
                }
                .call-platform-image{
                    width: 100%;
                    img{    
                        width: 200px !important;
                        height: 150px ;
                        margin-right: 25px;
                    }
                }
            }
        }
    }
}


