.log {
    padding: 0;
    margin: 0;

    .col-lg-7 {

        .form-section {

            width: 45%;
            margin: 100px auto;

            form {
                display: flex;
                flex-direction: column;

                .form-item {
                    padding-bottom: 2rem;

                    .label {
                        display: flex;
                        justify-content: space-between;
                    }

                    label {
                        color: black;
                        font-size: 14px;
                        line-height: 150%;
                        font-weight: 500;
                        cursor: pointer;
                        margin-bottom: 1rem;
                    }

                    input {
                        font-size: 16px;
                        line-height: 150%;
                        padding: 0.5rem 1rem;
                        width: 100%;
                        border-radius: 4px;
                        border-style: solid;
                        border-color: rgb(229, 231, 235);
                    }
                }



                .buttons {
                    margin-bottom: 16px;
                    display: flex;
                    justify-content: space-between;

                    .back {
                        border: 1px solid rgb(182, 158, 182);
                    }

                }

                a {
                    color: $color-primary;
                    border: none;
                    font-size: 14px;
                    font-weight: 400;
                    margin-right: 0 !important;
                }
            }
        }


        @media screen and (max-width:1028px) {
            min-width: 320px !important;
            text-align: left;
            margin-bottom: 3rem !important;

        }
    }


}