// Log-sign 


.log{
    .log-right{
        .form-section{
            .hires{
                .hire{
                    border: 1px solid rgba(0, 0, 0, 0.116);
                    border-radius: 15px;
                    padding: 10px 25px !important;
                    a{
                          text-decoration: none;
                    }
                }
            }
        }
    }
}
